<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.mindcareapp.mindcare_app">

    <!-- Permissões necessárias -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <application
        android:label="MindCare App"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher"
        android:enableOnBackInvokedCallback="true"
        android:requestLegacyExternalStorage="true"
        android:hardwareAccelerated="false"> <!-- Desabilitando a aceleração de hardware para evitar problemas de GPU -->

        <!-- Chave da API do Google Maps -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAkXTYqhYo2KDo86wi1QP-ObEwgH3AYGxY" /> <!-- Substitua YOUR_GOOGLE_MAPS_API_KEY pela sua chave real -->

        <!-- Habilitar visualização híbrida para Flutter -->
        <meta-data
            android:name="io.flutter.embedded_views_preview"
            android:value="true" /> <!-- Necessário para visualizar componentes nativos como Google Maps -->

        <!-- Atividade principal -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="false"
            android:windowSoftInputMode="adjustResize">

            <!-- Meta-data existente -->
            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme" />

            <!-- Intent-filter para inicialização padrão -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- Novo intent-filter para deep linking -->
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Defina o esquema e host do seu link -->
                <data
                    android:scheme="https"
                    android:host="mindcare-bb0ea3046931.herokuapp.com"
                    android:pathPrefix="/resetPassword" />
            </intent-filter>
        </activity>

        <!-- Declaração da UCropActivity -->
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <!-- Meta-data para o Flutter -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />

    </application>

    <!-- Seção queries -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT" />
            <data android:mimeType="text/plain" />
        </intent>
    </queries>

</manifest>
